* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.course {
  margin: auto;
}
.container {
}
.wrapper {
  margin: 56px 72px;
}
#title {
  /* width: 211.396px;
  height: 53.863px; */
  font-size: 30px;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  width: 60%;
}
.content .info {
  /* width: 23.963rem; */
}
.content .info p {
  font-size: 17px;
}
.image {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.image img:first-child {
  width: 204.858px;
  height: 205.438px;
  object-fit: cover;
}
.ellipse {
  width: 266px;
  height: 49px;
  position: absolute;
  bottom: -21px;
  right: -35px;
  z-index: -1;
}
.content-wrapper svg {
}

.additional-info-wrapper {
  display: flex;
  width: 80%;
  margin-top: 50px;
  align-items: center;
}
.additional-info-wrapper .lessons {
  display: flex;
  width: 60%;
}
.add-image {
  width: 40%;
  position: relative;
}
.add-image svg {
  position: absolute;
  bottom: -15px;
  left: 10px;
  z-index: -1;
}
.add-image img {
  width: 190px;
  height: 191px;
}
.hour {
  font-size: 17px;
  padding: 5px 0;
}
.lesson-content {
  font-size: 14px;
}
.lesson {
  flex: 1;
}
@media screen and (max-width: 600px) {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .content {
    width: 100%;
  }
  .image {
    width: 100%;
    justify-content: center;
  }
  .image img:first-child {
    width: 146.315px;
    height: 146.781px;
  }
  .ellipse {
    width: 180.546px;
    height: 27.492px;
    left: 50%;
    bottom: -5%;
    transform: translate(-50%, 20%);
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    -o-transform: translate(-50%, 20%);
  }
  .additional-info-wrapper {
    flex-direction: column;
  }
  .add-image {
    display: none;
  }
  .additional-info-wrapper .lessons {
    width: 100%;
    gap: 35px;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  .lesson {
    flex: unset;
    max-width: 40%;
  }
  #title {
    margin-bottom: 20px;
  }
  .hour {
    font-size: 12px;
  }
  .lesson-content {
    font-size: 10px;
    line-height: 15px;
    margin-top: 4px;
  }
}
@media screen and (min-width: 601px) and (max-width: 834px) {
  .add-image {
    display: none;
  }
  .additional-info-wrapper .lessons {
    width: 100%;
    gap: 20px;
  }
  .lesson {
    flex: unset;
    max-width: 25%;
  }
  .lesson-content {
    font-size: 12px;
  }
}
