* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.course {
  margin: auto;
}
.container {
}
.wrapper {
  margin: 3.5rem 4.5rem;
}
#title {
  /* width: 211.396px;
  height: 53.863px; */
  font-size: 1.875rem;
  margin-bottom: 10px;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  width: 60%;
}
.content .info {
  /* width: 23.963rem; */
}
.content .info p {
  font-size: 17px;
}
.image {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.image img:first-child {
  width: 12.8036rem;
  height: 12.8399rem;
  object-fit: cover;
}
.ellipse {
  width: 16.625rem;
  height: 3.0625rem;
  position: absolute;
  bottom: -1.3125rem;
  right: -2.1875rem;
  z-index: -1;
}
.content-wrapper svg {
}

.additional-info-wrapper {
  display: flex;
  width: 80%;
  margin-top: 3.125rem;
  align-items: center;
}
.additional-info-wrapper .lessons {
  display: flex;
  width: 60%;
}
.add-image {
  width: 40%;
  position: relative;
}
.add-image svg {
  position: absolute;
  bottom: -0.9375rem;
  left: 0.625rem;
  z-index: -1;
}
.add-image img {
  width: 11.875rem;
  height: 11.9375rem;
}
.hour {
  font-size: 1.0625rem;
  padding: 0.3125rem 0;
}
.lesson-content {
  font-size: 0.875rem;
}
.lesson {
  flex: 1;
}
@media screen and (max-width: 600px) {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  .content {
    width: 100%;
  }
  .image {
    width: 100%;
    justify-content: center;
  }
  .image img:first-child {
    width: 9.1447rem;
    height: 9.1738rem;
  }
  .ellipse {
    width: 11.2841rem;
    height: 1.7183rem;
    left: 50%;
    bottom: -5%;
    transform: translate(-50%, 20%);
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    -o-transform: translate(-50%, 20%);
  }
  .additional-info-wrapper {
    flex-direction: column;
  }
  .add-image {
    display: none;
  }
  .additional-info-wrapper .lessons {
    width: 100%;
    gap: 2.1875rem;
    flex-wrap: wrap;
    padding: 1.25rem 0;
  }
  .lesson {
    flex: unset;
    max-width: 40%;
  }
  #title {
    margin-bottom: 1.25rem;
  }
  .hour {
    font-size: 0.75rem;
  }
  .lesson-content {
    font-size: 0.625rem;
    line-height: 0.9375rem;
    margin-top: 0.25rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 834px) {
  .add-image {
    display: none;
  }
  .additional-info-wrapper .lessons {
    width: 100%;
    gap: 1.25rem;
  }
  .lesson {
    flex: unset;
    max-width: 25%;
  }
  .lesson-content {
    font-size: 0.75rem;
  }
}
